
/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
    /* height: 70%; */
    align: center;
    text-align: center;
}

/* The Close Button */
.modalCloseButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalCloseButton:hover,
.modalCloseButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal div.entryDiv{
    align-items: flex-start;
    text-align: left;
    padding: 5px 0px;
}

.modal button{
    margin: 0px 10px;
}

div.entryDivs{
    padding: 0% 10%;
}

div.errorMessage{
    color: red;
}